.content {
  height: 7%;
  width: 100%;
  background-color: #203033;
  border-radius: 3px;
  display: flex;
}

.select {
  flex-grow: 2;
  height: 100%;
  position: relative;
}

.plant {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
}

.plantContent {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(0, -50%);
}

.choice {
  background-image: url(../../../../../assets/imgs/dot.png);
  background-color: #489C9C;
}

.dot {
  width: 14px;
  height: 14px;
  text-align: center;
  border: 1px solid rgba(187, 187, 187, 100);
  border-radius: 50%;
  background-size: 13px;
  display: inline-block;
  margin-right: 3px;
}


.dot-word {
  color: rgba(182, 195, 204, 100);
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  vertical-align: top;
}

.search {
  flex-grow: 8;
  height: 100%;
  position: relative;
}

.searchContent {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.searchContent div {
  display: inline-block;
  margin-right: 20px;
}

.searchContent span {
  color: #4EBBBB;
}

.searchInput {
  width: 120px;
  background-color: #203033;
  border: .1px solid rgba(127, 127, 127, 100);
  border-radius: 3px;
  outline: none;
  text-align: center;
  color: #FFFFFF;
}

.searchSelect {
  width: 70px;
  height: 25px;
  font-size: 12px;
  background-color: rgba(48, 73, 77, 100);
  color: rgba(255, 255, 255, 100);
  border: 1px solid rgba(81, 87, 88, 100);
  outline: none;
}

.searchButton {
  background-color: #4EBBBB;
  width: 60px;
}
