<div class="searchContent">
  <div>
    <span>廠別：</span>
    <select [(ngModel)]="searchInfo.PlantCode" class="searchSelect">
      <option *ngFor="let item of plant" value={{item.PlantCode}}>{{item.Plant}}</option>
    </select>
  </div>
  <div>
    <span *ngIf="!id">特殊架構：</span>
    <span *ngIf="id">成品中文品名：</span>
    <input [(ngModel)]="searchInfo.Material_No" class="searchInput" type="text">
  </div>
  <div>
    <span *ngIf="!id">產品系列：</span>
    <span *ngIf="id">Product Name：</span>
    <input [(ngModel)]="searchInfo.Project_Code" class="searchInput" type="text">
  </div>
  <button (click)="search()" class="searchButton" nzSize="small" nz-button nzType="primary">搜索</button>
  <div class="add"><img src="assets/imgs/add.png" alt=""></div>
</div>

<div class="tableContent">
  <nz-table nzBordered="false" #headerTable [nzData]="showTableData" [nzFrontPagination]="false" [nzPageSize]="50"
    [nzScroll]="{ y: tableScrollHeight }">
    <thead>
      <tr>
        <th *ngFor="let item of tableHead" nzWidth={{item.width}}>{{item.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of headerTable.data;let i=index">
        <td>{{i}}</td>
        <td>{{item.Plant}}</td>
        <td *ngIf="!id">{{item.Material_No}}</td>
        <td *ngIf="id">{{item.ProductName_ZH}}</td>
        <td *ngIf="!id">{{item.Project_Code}}</td>
        <td *ngIf="id">{{item.ProductName_EN}}</td>
        <td>{{item.User_ID }}</td>
        <td>{{item.Maintain_Time | date:'yyyy/M/dd' }}</td>
        <td>
          <img class="delete" src="assets/imgs/delete.png" alt="图片跑路了">
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
