<div class="searchContent">
  <div>
    <span>廠別：</span>
    <select [(ngModel)]="searchInfo.PlantCode" class="searchSelect">
      <option *ngFor="let item of plant" value={{item.PlantCode}}>{{item.Plant}}</option>
    </select>
  </div>
  <div>
    <span>{{searchTitle[0]}}</span>
    <input [(ngModel)]="searchInfo.Material_No" class="searchInput" type="text">
  </div>
  <div *ngIf="!(['declare','battery'].includes(id))">
    <span>{{searchTitle[1]}}</span>
    <input [(ngModel)]="searchInfo.Project_Code" class="searchInput" type="text">
  </div>
  <button (click)="search()" class="searchButton" nzSize="small" nz-button nzType="primary">搜索</button>
  <div class="add" (click)="showModal()"><img src="assets/imgs/add.png" alt="图片跑了"></div>
</div>

<!-- table容器 -->
<div class="tableContent">
  <nz-table nzBordered="false" #headerTable [nzData]="showTableData" [nzFrontPagination]="false" [nzPageSize]="50"
    [nzScroll]="{ y: tableScrollHeight }">
    <thead>
      <tr>
        <th *ngFor="let item of tableHead" nzWidth={{item.width}}>{{item.name}}</th>
      </tr>
    </thead>
    <tbody>

      <ng-container *ngIf="['special','chinese'].includes(id)">
        <tr *ngFor="let item of headerTable.data;let i=index">
          <td>{{i+1}}</td>
          <td>{{item.Plant}}</td>
          <td *ngIf="id=='special'">{{item.Material_No}}</td>
          <td *ngIf="id=='chinese'">{{item.ProductName_ZH}}</td>
          <td *ngIf="id=='special'">{{item.Project_Code}}</td>
          <td *ngIf="id=='chinese'">{{item.ProductName_EN}}</td>
          <td>{{item.User_ID }}</td>
          <td>{{item.Maintain_Time | date:'yyyy/M/dd' }}</td>
          <td>
            <img nz-popconfirm nzPopconfirmTitle="確定刪除嗎?" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(item.id)"
              class="delete" src="assets/imgs/delete.png" alt="图片跑路了">
          </td>
        </tr>
      </ng-container>

      <ng-container *ngIf="id=='product'||id=='declare'">
        <tr *ngFor="let item of headerTable.data">
          <td *ngFor="let key of tableKey;let i=index">

            <ng-container *ngIf="id=='product'">
              <span *ngIf="!([5,6].includes(i))">{{item[key]}}</span>
              <span *ngIf="i==5" (click)="showPhoto('see',item)" class="examine">{{key}}</span>
              <span *ngIf="i==6">{{item.Maintain_Time|date: 'yyyy/M/dd HH:mm:ss'}}</span>
            </ng-container>

            <ng-container *ngIf="id=='declare'">
              <img *ngIf="i==0" style=" width: 13px;margin:0 5px 3px 0;" src="assets/imgs/pdf.png" alt="图片跑了">
              <span *ngIf="i!=2">{{item[key]}}</span>
              <span *ngIf="i==2">{{item.Maintain_Time|date: 'yyyy/M/dd HH:mm:ss'}}</span>
            </ng-container>

          </td>
          <td style="position: relative;">
            <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;">

              <ng-container *ngIf="id=='product'">
                <img (click)="showPhoto('edit',item)" class="icon" src="assets/imgs/edit.png" alt="图片跑了">&nbsp;
                <img class="icon" src="assets/imgs/download.png" alt="图片跑了">&nbsp;
                <img (click)="deleteProductPacking(item)" class="icon" src="assets/imgs/delete.png" alt="图片跑了">&nbsp;
              </ng-container>

              <ng-container *ngIf="id=='declare'">
                <img (click)="declarePdf(item,'download')" class="icon" src="assets/imgs/download.png" alt="图片跑了">&nbsp;
                <img (click)="declarePdf(item,'delete')" class="icon" src="assets/imgs/delete.png" alt="图片跑了">&nbsp;
              </ng-container>

            </div>
          </td>
        </tr>
      </ng-container>

      <ng-container *ngIf="id=='drop'">
        <tr *ngFor="let item of headerTable.data">
          <td *ngFor="let key of tableKey;let i=index">
            <img *ngIf="i==0" style=" width: 13px;margin:0 5px 3px 0;" src="assets/imgs/pdf.png" alt="图片跑了">
            <span *ngIf="i!=5">{{item[key]}} </span>
            <span *ngIf="i==5">{{item.Maintain_Time|date: 'yyyy/M/dd HH:mm:ss'}}</span>
          </td>
          <td style="position: relative;">
            <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;">
              <span title="请允许你的浏览器打开新窗口" (click)="showPdf(item,'see')" class="examine">查看</span>&nbsp;&nbsp;
              <span (click)="showPdf(item,'download')" class="examine">下载</span>
            </div>
          </td>
        </tr>
      </ng-container>

      <ng-container *ngIf="id=='battery'">
        <tr *ngFor="let item of headerTable.data;let i=index">
          <td>{{i+1}}</td>
          <td *ngFor="let key of tableKey"> {{item[key]}}</td>
          <td style="position: relative;">
            <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;">
              <span class="examine" (click)="littleEdit(item,'see')">查看</span>&nbsp;&nbsp;
              <span class="examine" (click)="littleEdit(item,'edit')">編輯</span>&nbsp;&nbsp;
              <span class="examine" (click)="delBatteryInfo(item)" style="color: #949CA1;">刪除</span>
            </div>
          </td>
        </tr>
      </ng-container>

    </tbody>
  </nz-table>
</div>

<!-- special、chinese新增的模态框 -->
<nz-modal [(nzVisible)]="specialChineseModal" [nzFooter]="null" nzWidth='26%'>
  <ng-container *nzModalContent>
    <div class="modalTitle">
      <span>新增</span>
      <img (click)="close()" src="assets/imgs/close.png" alt="图片跑了">
    </div>
    <div class="modalBody">
      <div>
        廠別：
        <div style="display: inline-block;margin-left: 50px;width: 120px;text-align: left;">{{man.Plant}}</div>
      </div>
      <div>
        {{modalInputTitle[0]}} <input (change)="change()" [(ngModel)]="modalInput[0]" style="width: 140px;height: 24px;"
          class="searchInput" type="text">
      </div>
      <div>
        {{modalInputTitle[1]}} <input [(ngModel)]="modalInput[1] " style="width: 140px;height: 24px;"
          class="searchInput" type="text">
      </div>
      <div style="text-align: center;">
        <button (click)="saveData()" nz-button class="save" nzType="primary">确定</button>
      </div>
    </div>
  </ng-container>
</nz-modal>


<!--  新增 编辑 查看 照片 productPacking-->
<div class="baseModal" *ngIf="photoModal">
  <div class="photoModalContent">
    <header
      style="color:#4EBBBB;text-align: center;height: 40px;line-height:40px;background-color: rgba(48, 73, 77, 100);font-size: 18px;">
      {{photoModalTitle}}
      <img (click)="closePhotoModal()"
        style="position: absolute;right: 10px;margin-top: 5px; width: 20px;cursor: pointer;" src="assets/imgs/close.png"
        alt="图标跑了">
    </header>

    <div class="modalContent">

      <!-- newAdd edit -->
      <ng-container *ngIf="['newAdd','edit'].includes(productModalType)">
        <table class="newAddEditTable" border="1" width="100%">
          <tr>
            <td>廠別：
              <select *ngIf="photoModalTitle=='新增'" [(ngModel)]="photoData.Plant" class="searchSelect">
                <option *ngFor="let item of plant" value={{item.PlantCode}}>{{item.Plant}}</option>
              </select>
              <select *ngIf="photoModalTitle=='編輯'" disabled [(ngModel)]="photoData.Plant" class="searchSelect">
                <option *ngFor="let item of plant" value={{item.PlantCode}}>{{item.Plant}}</option>
              </select>
            </td>
            <td>产品系列：
              <input *ngIf="photoModalTitle=='新增'" [(ngModel)]="photoData.Project_Code"
                class="searchInput photoModalInput" type="text">
              <input *ngIf="photoModalTitle=='編輯'" [(ngModel)]="photoData.Project_Code"
                class="searchInput photoModalInput" type="text" disabled>
            </td>
            <td>特殊架構：
              <input *ngIf="photoModalTitle=='新增'" [(ngModel)]="photoData.Special_SKU"
                class="searchInput photoModalInput" type="text">
              <input *ngIf="photoModalTitle=='編輯'" [(ngModel)]="photoData.Special_SKU"
                class="searchInput photoModalInput" type="text" disabled>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              電池放置方式：
              <nz-radio-group style="margin-left: 20px;" [(ngModel)]="photoData.Placement_Mode">
                <label *ngFor="let item of batteryPlacement" nz-radio nzValue={{item.value}}
                  [ngModel]="item.value==photoData.Placement_Mode">
                  {{item.name}}
                </label>
              </nz-radio-group>
            </td>
          </tr>
          <tr>
            <td colspan="3">包装内电池数量(颗)：
              <input [(ngModel)]="photoData.Packages_Qty" class="searchInput photoModalInput"
                style="width: 40px;margin-left: 30px;" type="text">
            </td>
          </tr>
          <tr style="height: 60%;">
            <td colspan="3">

              <div class="photoBack" style="display: inline-block;">
                <div style="display: flex;height: 100%;width:100%;">
                  <div class="topContent photoType">
                    <span>产品照片:</span>
                  </div>

                  <div *ngFor="let item of allPhoto.productPhoto;let i=index" class="topContent">
                    <header>
                      <span>{{item.name}}</span>
                    </header>
                    <div class="photoDiv" style="background-image: url({{item.url}});">
                    </div>
                    <footer>
                      <input type="file" (change)="getPhoto($event,'productPhoto',i)" class="pdfUpload"
                        style="width: 40px;">
                      <span class="upload">上傳</span>
                    </footer>
                  </div>

                </div>
              </div>

              <div class="photoBack" style="float: right;">
                <div style="display: flex;height: 100%;width:100%;">
                  <div class="topContent photoType">
                    <span>包装照片:</span>
                  </div>

                  <div *ngFor="let item of allPhoto.packagePhoto;let i=index" class="topContent">
                    <header>
                      <span>{{item.name}}</span>
                    </header>
                    <div class="photoDiv" style="background-image: url({{item.url}});">
                    </div>
                    <footer>
                      <input type="file" (change)="getPhoto($event,'packagePhoto',i)" class="pdfUpload"
                        style="width: 40px;">
                      <span class="upload">上傳</span>
                    </footer>
                  </div>

                </div>
              </div>

            </td>
          </tr>
        </table>
        <div class="photoBottom">
          <button (click)="savePhoto()" style="background-color:#4EBBBB;" nzSize="default" nz-button
            nzType="primary">確定</button>&nbsp;&nbsp;
          <button (click)="closePhotoModal()" style="background-color:#858D8F;" nzSize="default" nz-button
            nzType="primary">取消</button>
        </div>
      </ng-container>

      <!-- see -->
      <ng-container *ngIf="productModalType=='see'">

        <div class="seeTopContent">
          <div style="height: 100%;width: 100%;display: flex;">

            <div style="flex-grow: 1;">
              <p style="text-align: center;margin-top: 40%;">产品照片:</p>
            </div>

            <div *ngFor="let item of allPhoto.productPhoto" style="flex-grow: 1;">
              <div style="text-align: center;height: 10%;">{{item.name}}</div>
              <div class="photoContent" style="background-image: url({{item.url}});"></div>
            </div>

          </div>
        </div>

        <div class="seeTopContent">
          <div style="height: 100%;width: 100%;display: flex;">

            <div style="flex-grow: 1;">
              <p style="text-align: center;margin-top: 40%;">包装照片:</p>
            </div>

            <div *ngFor="let item of allPhoto.packagePhoto" style="flex-grow: 1;">
              <div style="text-align: center;height: 10%;">{{item.name}}</div>
              <div class="photoContent" style="background-image: url({{item.url}});"></div>
            </div>

          </div>
        </div>

      </ng-container>

    </div>
  </div>
</div>


<!-- drop.declare -->
<div class="baseModal" *ngIf="dropUploadModal">
  <div class="dRModalContent">
    <header
      style="color:#4EBBBB;text-align: center;height: 30px;line-height:1.5em;background-color: rgba(48, 73, 77, 100);font-size: 18px;">
      <span>新增</span>
      <img (click)="closeDropUploadModal()"
        style="position: absolute;right: 10px;margin-top: 5px; width: 20px;cursor: pointer;" src="assets/imgs/close.png"
        alt="图标跑了">
    </header>
    <div class="dR">
      <div>
        <div style="display: inline-block;margin-right: 28px;">廠別：</div>
        <select [(ngModel)]="dRmodalInput.plant" class="searchSelect modalSelect">
          <option *ngFor="let item of plant" value={{item.PlantCode}}>{{item.Plant}}</option>
        </select>
      </div>
      <div>{{modalInput[0]}}<input [(ngModel)]="dRmodalInput.input1" class="searchInput modalSelect" type="text">
      </div>
      <div>{{modalInput[1]}}<input [(ngModel)]="dRmodalInput.input2" class="searchInput modalSelect" type="text"></div>
      <div style="position: relative;">
        PDF檔案：
        <input type="file" (change)="pdf($event)" class="modalSelect pdfUpload">
        <button class="clickUp">
          <img src="assets/imgs/upload.png" style="width: 15px;" alt="图标跑了">
          点击上传
        </button>
      </div>
      <div style="text-align: center;">
        <button (click)="drUploadNewAdd()" style="background-color:#4EBBBB;" nzSize="default" nz-button
          nzType="primary">確定</button>
      </div>
    </div>
  </div>
</div>
