::ng-deep .ant-radio-wrapper span {
  color: #FFFFFF;
}

:host ::ng-deep .ng-untouched,
:host ::ng-deep .ng-touched {
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #355256;
}

::-webkit-scrollbar-thumb {
  background-color: #489C9C;
  border-radius: 10px;
}

table {
  color: #ffffff;
  margin-top: 3%;
}

td {
  padding-left: 10px;
}

nz-range-picker {
  background-color: #203033;
  border-color: rgba(127, 127, 127, 100);
}

.base {
  width: 100%;
  height: 100%;
}

.titleContent {
  margin-top: 7%;
}

.uploadContent {
  position: relative;
}


.content {
  width: 100%;
  height: 100%;
  background-color: rgba(32, 48, 51, 100);
  padding: .5% 1%;
  overflow-y: scroll;
  color: #fff;
}

.goBack {
  display: inline-block;
  cursor: pointer;
  line-height: 30px;
  margin-left: -5px;
}

.littleTitle {
  color: #4EBBBB;
}

.taskSelect {
  width: 80px;
  height: 25px;
  background-color: #404E51;
  color: rgba(255, 255, 255, 100);
  border: 1px solid rgba(81, 87, 88, 100);
  outline: none;
  margin-left: 60px;
}

.searchInput {
  width: 200px;
  background-color: #404E51;
  border: .1px solid rgba(127, 127, 127, 100);
  border-radius: 3px;
  outline: none;
  text-align: center;
  color: #FFFFFF;
  height: 24px;
}

.searchSelect {
  width: 160px;
  height: 25px;
  font-size: 12px;
  background-color: #404E51;
  color: rgba(255, 255, 255, 100);
  border: 1px solid rgba(81, 87, 88, 100);
  outline: none;
  text-align: center;
}

.pdfUpload {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 160px;
}

.clickUp {
  text-align: center;
  background-color: #30494D;
  width: 160px;
  border: none;
  opacity: none;
  color: #B6C3CC;
}

.sure {
  background-color: #489C9C;
}

.spreadhead {
  color: #4EBBBB;
  font-size: 18px;
}

.newAdd {
  float: right;
  width: 60px;
  cursor: pointer;
  margin-top: 2px;
}







/* 照片 */

.photoBack {
  width: 100%;
  height: 60%;
  padding-top: 4%;
}

.topContent {
  flex-grow: 2;
  height: 100%;
  padding: 0 10px;
}

.topContent header,
.topContent footer {
  text-align: center;
}

.topContent header {
  position: relative;
}

.topContent header>span {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}


.photoType {
  flex-grow: 1;
  position: relative;
}

.photoType>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.photoDiv {
  width: 50%;
  height: 60%;
  background-color: #7B8486;
  background-size: 100% 100%;
  margin-left: 25%;
}

.photoUpload {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.upload {
  text-decoration: underline;
  color: #4EBBBB;
}
